body {
	min-height: 100vh;
	display: grid;
	align-items: center;
}

.typer {
	margin: 0 auto;
	background: white;
	width: 500px;
	padding: 2rem;
	padding: 2rem;
	border-radius: 3px;
	display: grid;
}
.typer label {
	margin-top: 5px;
}

textarea {
	margin-top: 20px;
	width: 100%;
	height: auto;
}